# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# ctags
tags

# fstest
./mnt

# post compilation
Makefile
config.log
config.status
.deps/memcachefs.Tpo
